# Files described in here will be ignroed by git

# OSes & IDEs
.idea
.directory
.vscode

# Misc
/openapi-generator-cli.jar
/gource-*.png

# PHPENV
.php-version


## BELOW IS MANAGED AUTOMATICALLY BY BUNDLES ##

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/jwt/private.pem
/config/jwt/public.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
