# You need to copy this file to `behat.yaml`.
# We should automate this copy with a hook on Composer?  NIH

default:
  calls:
    error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED

  suites:
    rest:
      # This is not the most comfortable way of adding new steps,
      # since we have to list the contexts here.
      # We could perhaps remove these and use traits and only one Context.
      # The Actors are shared between all these contexts.
      contexts:
        - Features\MainFeatureContext:
            actors: '@App\Features\Actors'
        - Features\HookFeatureContext:
            actors: '@App\Features\Actors'
        - Features\ToolFeatureContext:
            actors: '@App\Features\Actors'
        - Features\PoetryFeatureContext:
            actors: '@App\Features\Actors'
        - Features\ApiRestFeatureContext:
            actors: '@App\Features\Actors'

  extensions:
    # Integrate with Symfony
    Behat\Symfony2Extension:
      kernel:
        bootstrap: features/bootstrap/bootstrap.php
        class: App\Kernel
    # Generate a HTML summary
    elkan\BehatFormatter\BehatFormatterExtension:
      projectName: BehatTest
      name: html
      renderer: Twig
      file_name: index
      print_args: true
      print_outp: true
      loop_break: true
      show_tags: true

  formatters:
    pretty: true
    html:
      output_path: var/features-report
